{{ define "main" }}

  <!-- page title -->
  <section class="page-title-alt position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="font-tertiary mt-5">{{ .Title }}</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- about -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ range .Data.Pages }} 
            <section class="section pt-1">
              <h4 class=""><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
              </h4>
              <p class="cars-text">{{.Summary}}</p>
            </section>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

{{ end }}
