{{ define "main" }}

  <!-- page title -->
  <section class="page-title-alt position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="font-tertiary mt-5">{{ .Title }}</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- contact -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
  <!-- /contact -->

{{ end }}